<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
   	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
		<div id="nav-placeholder"> </div>
		<script>
			$(function(){
			  $("#nav-placeholder").load("nav");
			});
		</script>
 	 <h2 class ="title is-3 has-text-centered mt-2" >LIST</h2>
	 <div style="width:530px ;margin:0 auto;">	 
	 	 <div class="select">
		  <select id = "thanhpho" onchange="selectTP()">
		    <option value="0">Chọn Thành Phố</option>
		  </select>
	    </div>
		 <div class="select">
		  <select id = "quan" onchange="selectQ()">
		    <option value="0">Chọn Quận</option>
		  </select>
		</div>
		<div class="select">
		  <select id="phuong">
		    <option value="0">Chọn Phường</option>
		  </select>
		</div>
		<button class = "button is-danger" onClick="buttonClick()">Lọc</button>
	</div>
	
	<div class = "mb-2  mt-3">
		<input type = "text"  name = "search" id = "search" style="width: 250px; height: 30px">
		 <div id = "search_option"class="select is-small">
			  <select>
			  	<option value = "bhyt"> BHYT </option>
			    <option value = "cccd"> CCCD </option>
			    <option value = "hospital"> Bệnh Viện </option>
			  </select>
		</div>
	</div>
	<table class = "table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
	</table>
	
	<script type="text/javascript">
		var tpSource = "http://localhost:8080/list/Thanhpho";
		$.getJSON(tpSource, function(data){
			var out;
			out += '<option value="0">Chọn Thành Phố</option>';
			$.each(data, function(key, val){				
				out += '<option value="'+val.id+'">'+val.name+'</option>';
			});
			$('#thanhpho').html(out);
			
		});
		function selectTP(){
			var thanhpho = $('#thanhpho :selected').val();
			if(thanhpho === "0"){
				var out = '<option value="0">Chọn Quận</option>';
				$('#quan').html(out);
				selectQ();
			}else{
				var quanSource = "http://localhost:8080/list/Quan/Thanhpho="+thanhpho;
				$.getJSON(quanSource, function(data,out){
					var out;
					out += '<option value="0">Chọn Quận</option>';
					$.each(data, function(key, val){				
						out += '<option value="'+val.id+'">'+val.name+'</option>';
					});
					$('#quan').html(out);
				});
			}
			$('#quan').val('0').change();
			
			$('#'+aa+' :selected')
		}
		function selectQ(){
			var quan = $('#quan :selected').val();
			console.log(typeof(quan));
			if(quan==="0"){
				var out = '<option value="0">Chọn Phường</option>';
				$('#phuong').html(out);
			}else{
				var phuongSource = "http://localhost:8080/list/Phuong/Quan="+quan;
				$.getJSON(phuongSource, function(data){
					var out;
					out += '<option value="0">Chọn Phường</option>';
					$.each(data, function(key, val){				
						out += '<option value="'+val.id+'">'+val.name+'</option>';
					});
					$('#phuong').html(out);
				});
			}
		}
	</script>
	
	<script type="text/javascript">
		var source = "http://localhost:8080/list/join/Thanhpho=0/Quan=0/Phuong=0"	
		$.getJSON(source, function(data){
			var stt = 1;
			var output;
			
			output += '<tr> <th>Stt</th> <th>Họ Tên</th> <th>Giới Tính</th> <th>Ngày sinh</th> <th>Căn Cước Công Dân</th> <th>Mã Bảo Hiểm Y Tế</th> <th>Địa chỉ</th> <th>Nơi Đăng Ký</th> <th>Ngày Tham gia</th> </tr>';
			
			$.each(data, function(key,val){
				output += '<tr>';
				output += '<td>'+stt+'</td>';
				output += '<td>'+val.name+'</td>';
				output += '<td>'+val.sex+'</td>';
				output += '<td>'+val.dateOfBirth+'</td>';
				output += '<td>'+val.cccd+'</td>';
				output += '<td>'+val.bhyt.code+'</td>';
				output += '<td>'+val.address+', '+val.phuong.name+', '+val.quan.name+', '+val.thanhpho.name+'</td>';
				output += '<td>'+val.bhyt.hospital.name+'</td>';
				output += '<td>'+val.bhyt.joinDate+'</td>';
				output += '</tr>';
				
				stt++;
			});
			$('table').html(output);
			
		});
		
		
		function buttonClick(){
			var thanhpho = $('#thanhpho :selected').val();
			var quan = $('#quan :selected').val();
			var phuong = $('#phuong :selected').val();
			var source = "http://localhost:8080/list/join/Thanhpho="+thanhpho+"/Quan="+quan+"/Phuong="+phuong;
			
			console.log(source);
			$.getJSON(source, function(data){
				var stt = 1;
				var output;
				
				output += '<tr> <th>Stt</th> <th>Họ Tên</th> <th>Giới Tính</th> <th>Ngày sinh</th> <th>Căn Cước Công Dân</th> <th>Mã Bảo Hiểm Y Tế</th> <th>Địa chỉ</th> <th>Nơi Đăng Ký</th> <th>Ngày Tham gia</th> </tr>';
				
				$.each(data, function(key,val){
					output += '<tr>';
					output += '<td>'+stt+'</td>';
					output += '<td>'+val.name+'</td>';
					output += '<td>'+val.sex+'</td>';
					output += '<td>'+val.dateOfBirth+'</td>';
					output += '<td>'+val.cccd+'</td>';
					output += '<td>'+val.bhyt.code+'</td>';
					output += '<td>'+val.address+', '+val.phuong.name+', '+val.quan.name+', '+val.thanhpho.name+'</td>';
					output += '<td>'+val.bhyt.hospital.name+'</td>';
					output += '<td>'+val.bhyt.joinDate+'</td>';
					output += '</tr>';
					
					stt++;
				});
				$('table').html(output);
				
			});
			
			
		}
		
		$('#search').keyup(function(){
			var thanhpho = $('#thanhpho :selected').val();
			var quan = $('#quan :selected').val();
			var phuong = $('#phuong :selected').val();
			var source = "http://localhost:8080/list/join/Thanhpho="+thanhpho+"/Quan="+quan+"/Phuong="+phuong;
			
			var option = $('#search_option :selected').val();
			var keyword = $('#search').val();
			var regex = new RegExp(keyword,'i','u');
			
			$.getJSON(source, function(data){
				var stt = 1;
				var output;				
				output += '<tr> <th>Stt</th> <th>Họ Tên</th> <th>Giới Tính</th> <th>Ngày sinh</th> <th>Căn Cước Công Dân</th> <th>Mã Bảo Hiểm Y Tế</th> <th>Địa chỉ</th> <th>Nơi Đăng Ký</th> <th>Ngày Tham gia</th> </tr>';
				if(option === "bhyt"){
					$.each(data, function(key,val){
						if( val.bhyt.code.search(regex) != -1 ){
							output += '<tr>';
							output += '<td>'+stt+'</td>';
							output += '<td>'+val.name+'</td>';
							output += '<td>'+val.sex+'</td>';
							output += '<td>'+val.dateOfBirth+'</td>';
							output += '<td>'+val.cccd+'</td>';
							output += '<td>'+val.bhyt.code+'</td>';
							output += '<td>'+val.address+', '+val.phuong.name+', '+val.quan.name+', '+val.thanhpho.name+'</td>';
							output += '<td>'+val.bhyt.hospital.name+'</td>';
							output += '<td>'+val.bhyt.joinDate+'</td>';
							output += '</tr>';			
							stt++;
						}
					});
				}
					if(option === "cccd"){
						$.each(data, function(key,val){
							if( val.cccd.search(regex) != -1 ){
								output += '<tr>';
								output += '<td>'+stt+'</td>';
								output += '<td>'+val.name+'</td>';
								output += '<td>'+val.sex+'</td>';
								output += '<td>'+val.dateOfBirth+'</td>';
								output += '<td>'+val.cccd+'</td>';
								output += '<td>'+val.bhyt.code+'</td>';
								output += '<td>'+val.address+', '+val.phuong.name+', '+val.quan.name+', '+val.thanhpho.name+'</td>';
								output += '<td>'+val.bhyt.hospital.name+'</td>';
								output += '<td>'+val.bhyt.joinDate+'</td>';
								output += '</tr>';			
								stt++;
							}
						});
					}
					if(option === "hospital"){
						$.each(data, function(key,val){
							if( val.bhyt.hospital.name.search(regex) != -1 ){
								output += '<tr>';
								output += '<td>'+stt+'</td>';
								output += '<td>'+val.name+'</td>';
								output += '<td>'+val.sex+'</td>';
								output += '<td>'+val.dateOfBirth+'</td>';
								output += '<td>'+val.cccd+'</td>';
								output += '<td>'+val.bhyt.code+'</td>';
								output += '<td>'+val.address+', '+val.phuong.name+', '+val.quan.name+', '+val.thanhpho.name+'</td>';
								output += '<td>'+val.bhyt.hospital.name+'</td>';
								output += '<td>'+val.bhyt.joinDate+'</td>';
								output += '</tr>';			
								stt++;
							}
						});
					}
				$('table').html(output);
				});
		});
	</script>
  </body>
</html>