<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://bulma.io/images/bulma-logo.png">
    </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Theo dõi danh sách
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/list">
            Tham gia bảo hiểm y tế
          </a>
        </div>
      </div>
    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Xuất báo cáo
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/report/new_join">
            Danh sách người mới tham gia
          </a>
          <a class="navbar-item" href="/report/paid">
            Danh sách người đã đóng và chưa đóng
          </a>
          <a class="navbar-item" href="/report/revenue">
            Doanh thu
          </a>
        </div>
      </div>
     <a class="navbar-item" href="/config"> Cấu hình </a>
  </div>
  <div sec:authorize="!isAuthenticated()" class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Đăng ký</strong>
          </a>
          <a class="button is-light" href ="../login">
            Đăng nhập
          </a>
        </div>
      </div>
    </div>
 <div sec:authorize="isAuthenticated()" class="navbar-end">
      <div class="navbar-item">
      <h1 class ="is-size-5 mr-5"> <span sec:authentication="name"></span> </h1>
        <div class="buttons">
          <a class="button is-primary" href="../logout">
            <strong>Đăng xuất</strong>
          </a>
        </div>
      </div>
    </div>
</nav>