<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
   	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
		<div id="nav-placeholder"> </div>
		<script>
			$(function(){
			  $("#nav-placeholder").load("/nav");
			});
		</script>
 	 <h2 class ="title is-3 has-text-centered mt-2"> DOANH THU </h2>
 	 <div style="width:250px ;margin:0 auto;">	 
		 <div class="select">
			  <select id = "year" onchange="sort()">
			  </select>
   		</div>
		 <div class="select">
			  <select id = "sort" onchange="sort()">
			  	<option value = "1">A-Z</option>
			  	<option value = "2">Top Revenue</option>
			  </select>
		</div>
	</div>
	
	<table class = "table is-bordered is-striped is-narrow is-hoverable is-fullwidth mt-5"> </table>
	
 	<script type="text/javascript">
		var tpSource = "http://localhost:8080/list/Thanhpho";
		$.getJSON(tpSource, function(data){
			var out;
			out += '<option value="0">Chọn Thành Phố</option>';
			$.each(data, function(key, val){
					out += '<option value="'+val.id+'">'+val.name+'</option>';
			});
			$('#thanhpho').html(out);	
		});
		var out;
		var currentYear = new Date().getFullYear();
		out += '<option value="'+currentYear+'">'+currentYear+'</option>';
		for(i = 1; i<= 5; i++){
			out += '<option value="'+(currentYear-i)+'">'+(currentYear-i)+'</option>';
		}
		$('#year').html(out);
 	</script> 	
 	
 	<script type="text/javascript">
 		var year = new Date().getFullYear();
		var source = "http://localhost:8080/report/revenue/year="+year+"/sort=1";	
			$.getJSON(source, function(data){
				var stt = 1;
				var output;
				
				output += '<tr> <th>Stt</th> <th>Name</th> <th>Revenue</th> </tr>';
				
				$.each(data, function(key,val){
					output += '<tr>';
					output += '<td>'+stt+'</td>';
					output += '<td>'+val.thanhpho.name+'</td>';
					output += '<td>'+val.revanue.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+'</td>';
					output += '</tr>';
					
					stt++;
				});
				$('table').html(output);
			});
	</script>
	
 	<script type="text/javascript">
 		function sort(){
	 		var year = $('#year').val();
	 		var sort = $('#sort').val();
			var source = "http://localhost:8080/report/revenue/year="+year+"/sort="+sort;	
				$.getJSON(source, function(data){
					var stt = 1;
					var output;
					
					output += '<tr> <th>Stt</th> <th>Name</th> <th>Revenue</th> </tr>';
					
					$.each(data, function(key,val){
						output += '<tr>';
						output += '<td>'+stt+'</td>';
						output += '<td>'+val.thanhpho.name+'</td>';
						output += '<td>'+val.revanue.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+'</td>';
						output += '</tr>';
						
						stt++;
					});
					$('table').html(output);
			});
 		}
	</script>
  </body>
</html>